@use "./global_modal";

.create_new_message_modal{
    @include global_modal.modal();
 
    .modal_content{
        @include global_modal.modal_content();
        max-height: 423px;
        max-width: 937px;
        padding: 50px;
        width: 100%;

        .create_message_textarea{
            @include global_modal.textarea();
            height: 185px;
            margin-top: 40px;
            width: 100%;
        }

        .modal_button_container{
            display: flex;
            justify-content: flex-end;
            margin-top: 31px;

            button[type="submit"]{
                margin-left: 24px;
                @include global_modal.submit_btn();
            }
    
            button[type="button"]{
                @include global_modal.cancel_btn();
            }
        }
    }
}